@import './_variables';
@import '_mixins';

:global {
  html {
    font-size: 20px; // for rem
  }

  body {
    font-family: "Verlag A", "Verlag B";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: $gray;
  }

  h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    @include media('<=phone') {
      font-size: 24px;
      line-height: 24px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    @include media('<=phone') {
      font-size: 18px;
      line-height: 18px;
    }
  }

  h4 {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
  }

  h5 {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
  }

  h6 {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }
}
