// Colors
$gray: #4A4A4A;
$purple: #5B0655;
$darkPurple: #390134;
$lightPurple: #F2ECF5;

// Animation
$transition-duration: 0.2s;

// include-media
$breakpoints: (phone: 400px, tablet: 768px, desktop: 1024px);
