@import '_variables';
@import '_mixins';

.container {
  max-width: map-get($breakpoints, 'desktop');
  margin: 0 auto;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
