@import '_variables';
@import '_mixins';

.container {

}

.title {
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  @include media('<=mobileWide') {
    display: none;
  }
}

.subheading {
  margin-top: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  @include media('<=mobileWide') {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: normal;
    text-transform: none;
  }
}
