@import '_variables';
@import '_mixins';

.container {

}

.title {
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  @include media('<=phone') {
    display: none;
  }
}

.subheading {
  margin-top: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  @include media('<=phone') {
    font-size: 16px;
    line-height: 20px;
  }
}
