@import '_variables';
@import '_mixins';

.container {

}

.heading {
  margin-bottom: 0;
}

.subHeading {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: $purple;
}

.clientList {
  margin-top: 30px;
  list-style-type: none;
  padding: 0;
  column-count: 3;
  font-size: 16px;
  line-height: 24px;
  @include media('<=mobile') {
    column-count: 2;
    font-size: 14px;
    line-height: 20px;
  }
}
