@import '_variables';
@import '_mixins';

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.item {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media('<=mobile') {
    margin: 0 8px;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
