@import '_variables';
@import '_mixins';

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cardLeft {
  flex-grow: 0;
  margin-right: 1rem;
}

.cardRight {
  flex-grow: 1;
}

.name {
  margin-top: 5px;
  margin-bottom: 6px;
  @include media('<=phone') {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

.title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
  @include media('<=phone') {
    margin-bottom: 10px;
  }
}
