@import '_variables';
@import '_mixins';

.container {

}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.item {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media('<=phone') {
    margin: 0 8px;
    transform: scale(0.9, 0.9)
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
