@import '_variables';
@import '_mixins';

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 0;
  @include media('>mobile') {
    padding: 70px 0;
  }
}

.cardContainer {

}
