@import '_variables';
@import '_mixins';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 340px;
  & > div {
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
