@import '_variables';
@import '_mixins';

.container {
  padding: 30px 0;
  text-align: center;
  width: 100%;
}

.text {
  margin-top: 5px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
