@import '_variables';
@import '_mixins';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  @include media('<=mobile') {
    display: block;
    padding: 0;
  }
}

.badge {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @include media('<desktop') {
    margin-left: 30px;
  }
  @include media('<=mobile') {
    margin-left: 0;
    text-align: center;
  }
}

.badgeLeft {
  flex-grow: 0;
  margin-right: 1rem;
}

.badgeRight {
  flex-grow: 1;
}

.name {
  margin-top: 20px;
  margin-bottom: 2px;
  @include media('<=mobile') {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

.title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
  @include media('<=mobile') {
    margin-bottom: 10px;
  }
}

.networks {
  display: flex;
  align-items: center;
  margin-right: 30px;
  @include media('<=mobile') {
    margin-top: 4px;
    margin-right: 0;
    justify-content: center;
  }
}
