@import '_variables';
@import '_mixins';

.container {
  display: block;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  margin-top: 15px;
  word-wrap: break-word;
  white-space: nowrap;
  @include media('<=mobile') {
    display: none;
  }
}

.innerWrapper {
  position: relative;
  left: -50%;
  perspective: 300px;
}

.inner {
  padding: 6px 10px;
  background: $darkPurple;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    border-width: 0 6px 6px;
    border-bottom-color: $darkPurple;
  }
}
